table thead {
    background: #818588;
    color: #ffffff;
}

table tbody td{
    padding: 1px
}
.table td, .table th {
    padding: .6rem .7rem !important;
}

/*.card .card-block a.dropdown-item:active, .card .card-block a.dropdown-item .active {
    background-color: #4099ff;
}*/

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #4099ff;
    color:#ffffff;
}